<aside class="secondary">

  <div class="about">
    <h3 class="sidebar-title">About</h3>

    <!-- <img class="profile-pic" src="/public/img/thinkxl.png" alt="Juan Olvera"> -->

    <ul>
      <li><a href="#">About me</a></li>
      <li><a href="http://frontends.org">frontends.org</a></li>
      <li><a href="http://rocketb.in">rocketb.in</a></li>
    </ul>

    <p>Personal thoughts about coding.</p>

    <a href="https://twitter.com/thinkxl" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @thinkxl</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  </div> <!-- .about -->
</aside> <!-- .sidebar -->
