%layout {
	float: left;
}

.container {
  max-width: 39em;
  margin: 0 auto;
	padding-left: 1em;
	padding-right: 1em;
}
@media (min-width: 38em) {
  .container {
    margin: 0 auto;
  }
}

.main-content {
	@extend .clearfix;
}

.primary {
	@extend %layout;

	width: 100%;
	margin-right: 0;
}
