.clearfix {
	  &:before,
		&:after {
			content: " "; /* 1 */
			display: table; /* 2 */
	}

	&:after {
		clear: both;
	}
}

@mixin respond-to($size) {
	@media only screen and (min-width: $size) {
		@content;
	}
}
